.stopwatch{

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clock{

    width: 480px;
    font-size: 6em;

    display: flex;
    justify-content: space-between;
}

.clock > span{

    display: flex;
    margin: 2px;
}

.clockbuttons{

    width: 250px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.clockbuttons > button{

    width: 75px;
    height: 35px;

    font-size: 15px;

    cursor: pointer;
}

.start{

    background-color: #4f784e;

    border: none;
    outline: none;

}

.start:hover{

    border: none;
    outline: none;

    background-color: #2d5e4c;
}

.pause{

    background-color: #ef326e;
    border: none;
    outline: none;
}

.pause:hover{

    border: none;
    outline: none;

    background-color: #e91257;
}

.reset{

    background-color: #64416c;
    border: none;
    outline: none;

}

.reset:hover{

    background-color: #4e2d56;
    border: none;
    outline: none;

}